<h1>Editing Superadmin</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= render 'form', superadmin: @superadmin %>

<%= link_to 'Show', @superadmin %> |
<%= link_to 'Back', superadmins_path %>
  </div>
</div>
